.textareaDiv {
  width: 800px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.labelInput{
  position: absolute;
  top: 10.5%;
  left: 29%;
  width: 800px;
  height: 600px;
  margin-left: 4px;
}

.buttonDiv{
  margin-left: 4px;
  position: absolute;
  left: 69%;
  top: 36%;
  transform: translate(-50%, -50%);
}
